.about{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}
.aboutList{
    display: flex;  
    list-style: none;
    justify-content: space-between;
    padding: 20px;
}
.aboutTitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 40px;

}
.aboutText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-size: 18px;
}
.aboutItem{
    padding: 20px;
    width: 320px;
}
.aboutSubtitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
}
.aboutSubtext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}